<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<%- include('../NavBar') %>
<div class="container" style="margin-top: 150px;">
   
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th scope="col">ID</th> -->
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">URL</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
                <tr>
                    <!-- <td><%= product.id %></td> -->
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><img src="<%= product.image %>" alt="<%= product.name %>" style="width: 100px;"></td>
                    <td><%= product.description %></td>
                    <td><a href="<%= product.url %>">Link</a></td>
                    <td><%= product.category %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>